<footer class="footer" th:fragment="footer">
  <div class="container">
    <div class="footer-col">
		<h4>Realizzato da <strong>Giulia Gaglione</strong> <br>
		Progetto SIW 2023</h4>
	</div>
  </div>
</footer>

<!-- HEADERS WITH ACTIVE SET ON HEADER-X -->
<header class="header-area" th:fragment="header-home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/" class="active">Home</a>
            </li>
            <li>
              <a href="/movie"> Film </a>
            </li>
            <li>
              <a href="/artist"> Artisti </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a href="/profile"><span class="pe-2" th:text="${credentials.username}"></span><img src="/images/profile-header-unlock.svg" alt=""/></a>
            </li>
            <li th:unless="${userDetails}">
              <a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<header class="header-area" th:fragment="header-film">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          <!-- search bar -->
          <div class="search-input">
            <form class="search" th:action="@{/find}" method="post">
              <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword">
              <i class="fa-solid fa-magnifying-glass"></i>
            </form>
          </div>
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/movie" class="active"> Film </a>
            </li>
            <li>
              <a href="/artist"> Artisti </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a href="/profile"><span class="pe-2" th:text="${credentials.username}"></span><img src="/images/profile-header-unlock.svg" alt=""/></a>
            </li>
            <li th:unless="${userDetails}">
              <a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<header class="header-area" th:fragment="header-artist">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/movie"> Film </a>
            </li>
            <li>
              <a href="/artist" class="active"> Artisti </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a href="/profile"><span class="pe-2" th:text="${credentials.username}"></span><img src="/images/profile-header-unlock.svg" alt=""/></a>
            </li>
            <li th:unless="${userDetails}">
              <a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<header class="header-area" th:fragment="header-profile">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/movie"> Film </a>
            </li>
            <li>
              <a href="/artist"> Artisti </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a class="active" href="/logout">Logout <img src="/images/profile-header-unlock.svg" alt=""/></a>
            </li>
            <li th:unless="${userDetails}">
              <a class="active" href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="container" th:fragment="index">
  <div class="row">
      <div class="page-content">
        <!-- first container -->
        <div class="welcome">
          <div class="row">
              <div>
                <h5 align="center">Benvenuti su <em>Siw Movie 2</em></h5>
                <h6 align="center">La vendetta...</h6align="center">
                <h6 align="center">Qui potrai trovare film e attori. Basta un click!</h6>
              </div>
              <div class="main-button" th:if="${userDetails}">
                <a href="/profile">Profilo</a>
              </div>
              <div class="main-button" th:unless="${userDetails}">
                <a href="/login">Accedi!</a>
              </div>
            </div>
        </div>
        <!--end of first container -->
      </div></div></div></div>
<div class="row row-cols-1 row-cols-md-3 g-4" th:fragment="movies">
  <div th:each="movie : ${movies}" class="col">
    <a th:href="@{'/movie/' + ${movie.id}}">
      <div class="card" style="width: 18rem;">
        <div class="card-img" th:if="${movie.picture}">
          <img src="" th:src="@{'/files/' + ${movie.picture.id}}" alt="film_image"/>
        </div>
        <div class="card-img" th:unless="${movie.picture}">
          <img src="https://picsum.photos/200/300" alt="film_image"/>
        </div>
        <div class="card-body">
          <h5 class="card-title" th:text="${movie.title}">Up!</h5>
          <p class="card-text" th:text="' (' + ${movie.year} + ' )'">(2000)</p>
        </div>
      </div>
    </a>
  </div>
</div>